__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*$py.class
dist/
build/
.eggs/
.codex
mit_inversions/test_code.ipynb
*.nc
*.tif
*.tiff

.ipynb_checkpoints/
.vscode/
.idea/

temp_reference/

test_obs.ipynb
tutorial.py
